.footer {
      z-index: 3; height: 38px;
      color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);
       line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.footer .title {margin-right: 10px; float: right;}
.footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

/* main */

.main .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.main .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.main .progress {height: 18px; width: 141px; margin-top: 90px;}
.main .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.main .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.main .logo.Dark {background-image: url('progressLogo.Dark.png');}
.main .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.main .progress.Dark .full {background-image: url('progressFull.Dark.png');}
